body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  /* background */
  background: #ffb400;
  background: -moz-linear-gradient(75deg, #ffb400 22%, #111 22%);
  background: -webkit-linear-gradient(75deg, #ffb400 22%, #111 22%);
  background: linear-gradient(75deg, #ffb400 22%, #111 22%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc107",endColorstr="#000000",GradientType=1);
  font-family: "Poppins", sans-serif;
}

.first-container {
  width: 100%;
  height: 100%;
  /* border: red solid 2px; */
  /* background-color: rgba(0, 0, 0, .2); */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

/* rename for grade areas */
img {
  grid-area: img;
  width: 71%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0.1px;
}

.introduction {
  grid-area: intro;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-size: large;
  /* line-height: 25px; */
  padding-right: 25px;
}

nav {
  grid-area: nav;
}

main {
  width: 95.55%;
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 200px;
  grid-template-rows: 1fr;
  grid-template-areas: " img intro nav";
}

._1st {
  font-size: 20px;
}

._2nd {
  font-size: 45px;
  font-weight: 540;
}
._3rd {
  color: #ffb400;
}

._4th {
  line-height: 30px;
  font-size: 17px;
  font-weight: 100;
}

.button {
  background-color: #ffb400;
  border-radius: 25px;
  padding: 15px 35px;
  text-decoration: none;
}

a > span {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
}

nav {
  width: 100%;
}

nav,
ul,
li,
.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.home{
  
  background-color: #ffb400;
}

.img {
  flex-direction: row-reverse;
  min-width: 37px;
  min-height: 37px;
  border-radius: 50%;
  padding: 5px;
  justify-content: center;
}
ul{
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  height: 60%;
}



li>a>img{
  width: 23px;
  height: 23px;
  padding: 3px;
  background-color: white;
  border-radius: 50%;
}

li>a>h2{
  display: none;
}














/* ************************************************************ */
/* ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
} */

/* .btn {
  margin: 150px 0px;
} */
/* nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}

.home {
  background-color: #ffb400;
}

li {
  width: auto;
  height: auto;
  margin: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li> div > a {
  width: 50px;
  height: 50px;
  background-image: url(../img/iconfinder_additional_icons-10_2239886.png);

  display: flex;
  justify-content: center;
  align-items: center;
}

.about,
.portfolio,
.contact,
.blog {
  /* transition: all .2s; 
}

/* .about:hover,
.portfolio:hover,
.contact:hover,
.blog:hover {
  transform: skewx(50deg);
  transform: skew(50deg,50deg);
} 

.title{
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
  width: auto;
  height: auto;
  justify-items: flex-start;
  align-items: center;
  background-color:#ffb400;
  border-radius: 25%;
}

li >div > a > img {
  width: 23px;
  height: 23px;
  padding: 3px;
  background-color: white;
  border-radius: 50%;
}
*/
