body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #ffb400;
  background: -moz-linear-gradient(75deg, #ffb400 22%, #111 22%);
  background: -webkit-linear-gradient(75deg, #ffb400 22%, #111 22%);
  background: linear-gradient(75deg, #ffb400 22%, #111 22%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc107",endColorstr="#000000",GradientType=1);
  font-family: "Poppins", sans-serif;
}

.first-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

img {
  grid-area: img;
  width: 71%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0.1px;
}

.introduction {
  grid-area: intro;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-size: large;
  padding-right: 25px;
}

nav {
  grid-area: nav;
}

main {
  width: 95.55%;
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 250px;
  grid-template-rows: 1fr;
  grid-template-areas: " img intro nav";
}

._1st {
  font-size: 20px;
}

._2nd {
  font-size: 45px;
  font-weight: 540;
}
._3rd {
  color: #ffb400;
}

._4th {
  line-height: 30px;
  font-size: 17px;
  font-weight: 100;
}

.button {
  background-color: #ffb400;
  border-radius: 25px;
  padding: 15px 35px;
  text-decoration: none;
}

a > span {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
}

nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  align-items: center;
}

ul {
  height: 65%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
}

li {
  /* margin: -55px 0; */
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

li > a > .cover > img {
  width: 23px;
  height: 23px;
  padding: 3px;
  background-color: white;
  border-radius: 50%;
}

.cover {
  grid-area: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.home {
  background-color: #ffb400;
}

.nav-img {
  grid-area: img;
}

.title {
  margin: 0;
  margin-right: 10px;
  grid-area: title;
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible;
  opacity: 1;
  margin: 0;
}

.img {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr, 1fr;
  grid-template-areas: "title cover";
  justify-items: end;
  align-items: center;
  background-color: #ffb30000;
  padding-left: 15px;
  border-radius: 36px;
  text-decoration: none;
  color: #ffb30000;
  transition: all .75s;
  text-transform: uppercase;
  font-size: 10px;
}

.img:hover{
  transform: scaleX(50px);
  background-color: #ffb400;
  color: white;
}

