.about-body {
  background-color: #111111;
}

.header {
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222222;
  text-transform: uppercase;
  font-size: 100px;
}

.header-front {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: white;
  text-transform: uppercase;
  font-size: 35px;
}

.personal-infos {
  padding: 50px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
}

.personal-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-transform: capitalize;
}

.personal-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  /* gap: 50px; */
}

.personal-list > h1 {
  margin: 25px 10px;
  color: white;
  font-size: 18px;
  font-weight: 100;
}

.personal-list > h1 > span {
  color: rgba(255, 255, 255, 0.562);
}

.download {
  width: 180px;
  padding: 7px 0;
  border: none;
  border-radius: 35px;
  background-color: #ffb400;
  color: white;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.personal-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.personal-right > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  height: 60%;
  border: rgba(255, 255, 255, 0.603) 1px solid;
  border-radius: 15px;
  padding: 10px;
}

.personal-right > div > h1 {
  margin: 0;
}

.same {
  color: white;
  font-size: 7px;
}

.num {
  color: #ffb400;
  font-size: xx-large;
}

.uper {
  vertical-align: super;
}

.abslute {
  position: fixed;
  right: 15px;
  z-index: 55;
}

.about {
  background-color: #ffb300;
}

hr {
  border-top: 1px solid #252525;
  margin: 70px auto 55px;
  max-width: 40%;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
  border: red solid 1px;
}

.skills > h1 {
  text-transform: uppercase;
  color: white;
  margin-top: 0;
  font-size: 25px;
}


.diagram{
  width: 90%;
  height: 300px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(2, 260px);
  align-items: center;
  justify-items: center;
  justify-content: center;
  row-gap: 20px;
}

.diagram > div{
  border: yellow solid 1px;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cyrcle{
  width: 130px;
  height: 200px;
  border: solid 10px;
  border-radius: 50%;
  border-image: linear-gradient(60deg, rgba(34,34,34,1) 25%, rgba(255,179,0,1) 25%);
  border-image-slice: 5;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 27px;
  font-weight: 700;

}